NEXT_PUBLIC_SUPABASE_URL=https://dlekfjvaizyfegziyels.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsZWtmanZhaXp5ZmVneml5ZWxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0NDk3MzYsImV4cCI6MjA5OTAyNTczNn0.UnEG9mvlEcySuTOeYSvtMPlMwbSY_Uo0WJ9v4uV98OA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsZWtmanZhaXp5ZmVneml5ZWxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0NDk3MzYsImV4cCI6MjA5OTAyNTczNn0.UnEG9mvlEcySuTOeYSvtMPlMwbSY_Uo0WJ9v4uV98OA